header {
        background-color: #001533;
}

.logo{
      display: flex;
      align-items: center;
}

.logo img{
          width: 45px;
}

header ul li{
             margin: 0px 3px;
}

nav.navbar a.nav-link{
    color: #fff;
}

.btn-primary{
         color: white;
         background-color: #001533;
}

.border-width{
         border: 1px solid white;
         
}


